1-Practice slicing on string using negative indexes and steps.

In [3]:
a="Slicing"
print(a[:-4])
print(a[-6:-4])
print(a[-5:-2])
print(a[-4:-1])

Sli
li
ici
cin

2. Write a program that takes a user’s full name (with spaces), converts it to both uppercase and lowercase, uses strip() and split(), and then rejoins the words.

In [5]:
nam=input("Enter namre :")
nam=nam.strip()
nam2=nam.split()
join=" ".join(nam2)
print(nam)
print(nam2)
print(join)
print(join.upper())
print(join.lower())

Satyam    kumar   gupta
['Satyam', 'kumar', 'gupta']
Satyam kumar gupta
SATYAM KUMAR GUPTA
satyam kumar gupta

3-Input a sentence and convert it into a word list using .split() .

In [21]:
n="My name is satyam"
print(n.split())

['My', 'name', 'is', 'satyam']

4-Create a list of words and join them into a single string using .join() .

In [4]:
a=["My","name","is","satyam"]
print(" ".join(a))

My name is satyam

5-Input 5 numbers, store them in a list, and sort them using .sort() .

In [9]:
num=[20,30,60,70,90,50,42,10]
print(sorted(num))

[10, 20, 30, 42, 50, 60, 70, 90]

6-From a list of numbers, print only even numbers.

In [10]:
num=[10,3,5,2,4,7,9,6]
if 2%num==0:
    print(num)

TypeError: unsupported operand type(s) for %: 'int' and 'list'

7-Create a nested list with a student's name and marks. Print name, all marks,and one specific mark.

In [17]:
nested_list=["Satyam",[80,90,95,70,75,99]]
print(nested_list[0])
print(nested_list[1])
print(nested_list[1][-1])

Satyam
[80, 90, 95, 70, 75, 99]
99