1-Create a tuple of 6 fruits and print: first, last, and middle item.

In [5]:
fruit=('apple','mango','orange','graps','banana')
print(fruit[0],fruit[2],fruit[-1])

apple orange banana

2-Create a tuple ( name , age , course ) and unpack values.

In [ ]:
a=("Satyam",21,"BCA")
name,age,course=a
print(name,age,course)

Name ={name} Age={Age} Course={BCa}  Satyam 21 BCA

3-Create two sets and print: union, intersection, and difference.

In [22]:
u={1,2}
a=u.union({1,2,3})
print(a)
print(a.intersection({2,3}))
print(a.difference({2}))

{1, 2, 3}
{2, 3}
{1, 3}

4-Convert a list with repeated numbers to a set and print the set.

In [ ]:
num=[1,2,1,1,2,2,3,3,4,4]
li=set(num)
print(li)

{1, 2, 3, 4}

5-Create a dictionary and print keys and values separately

In [37]:
dict={"Name":"Satyam","age":21,"course":"BCA"}

for i in dict:
    print(i,dict[i])

Name Satyam
age 21
course BCA

6-Add "grade" and update "marks" value.

7-Print all key-value pairs using a loop.