1-Create a function that takes a name and prints a greeting.

In [1]:
def greeting():
    print("Hello")
greeting()

Hello

2-Function that returns the square of a number.

In [4]:
def square(a):
    return a*a

square(3)

9

3-Use arguments + return to perform + - * /.

In [7]:
def cal(a,b):
    if sign =="+":
        return a+b
    elif sign =="-":
        return a-b
    elif sign=="*":
        return a*b
    else:
        return a/b

x=int(input("Enter a first num :"))
y=int(input("Enter a second num :"))
sign=input("Enter a Symbol like +,-,*,/:")
cal(x,y)

-1

4-Function that checks and returns even/odd

In [8]:
def check(a):
    if a%2==0:
        return "even"
    return "odd"
x=int(input("Enter a value:"))
check(x)

'odd'

5-Make a function that returns the sum of any amount of numbers using *args.

In [9]:
def num(*total):
    return sum(total)
num(2,3,4)

9

6-Create a function that prints student details (name, course, age) by using **kwarg.

In [10]:
def detail(**student):
    return student
detail(name="satyam",age=21,course="BCA")

{'name': 'satyam', 'age': 21, 'course': 'BCA'}

7-Extract only even numbers from a list.by using filter and lamda.

In [11]:
num=[1,2,3,4,5,6,7,8,9,0]
even=list(filter(lambda x:x%2==0,num))
print(even)

[2, 4, 6, 8, 0]

8-Double all values in a list.By using map and lambda

In [14]:
num=[1,2,3,4,5,6,7,8,9]
a=list(map(lambda x:x*2,num))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

9️⃣ Use sorted() Sort list of names alphabetically.

In [15]:
name = "Python"

print(hash(name))

-5129877544259714992