In [4]:
print("hello")

hello

1️⃣ Welcome Message - Print your name, branch, college,and favourite language

In [5]:
print("Satyam,BCA,GOEL,Bhojpuri")

Satyam,BCA,GOEL,Bhojpuri

️⃣ User Info Take name, age, city via input() and print

In [12]:
name=input("Enter Name")
age=int(input("Enter age"))
city=input("Enter city")
print(name,age,city)

Satyam  21 Ballia

3️⃣ Basic Calculator Perform +, -, *, / with user input

In [13]:
a=int(input("Enter frist no"))
b=int(input("Enter second no"))

print(a+b,a-b,a*b,a/b)

4 0 4 1.0

4️⃣ Variables & Types Declare 5 variables & print their types using type()

In [14]:
a=2
b=3.4
c="bake bhari"
d=True
e=3+4j
print(type(a),type(b),type(c),type(d),type(e))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'complex'>

5️⃣ Swap Numbers Swap values using tuple method

In [16]:
a=2
b=3
a,b=b,a
print(a,b)

3 2

6️⃣ String Formatting Print a formatted introduction using f-string